@tailwind base;
@tailwind components;
@tailwind utilities;
 



.dropdown {
  @apply absolute right-0 top-full mt-3 w-full p-5 bg-gray-100 drop-shadow-lg text-white rounded-xl min-w-[210px] flex flex-col gap-2 justify-end items-end;
}

.dropdown_link {
  @apply text-sm font-inter text-left text-black hover:text-gray-500 font-medium;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}



.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #ffffff;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #888;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.tree .react-flow__attribution a{
 display: none;
}

.tree .react-flow__pane {
  background-color: #F3F4F6;
}

